
button {
    outline: none;
}


.item-content {
    width: 100%;
    min-height: 59px !important;
    margin-bottom: 10px;
}

/*   body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: var(--body-bg);
  } */

.participant-parent {
    width: 100%;
    height: 100%;
    border: black;
    border-radius: 5px;
    background-color: black;
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}


.participant {
    flex: 1;
    overflow-y: auto;
    padding: 10px 0px 5px 0px;
    height: 100%;
}

.participant::-webkit-scrollbar {
    width: 6px;
}

.participant::-webkit-scrollbar-track {
    background: #ddd;
}

.participant::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}



.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg:last-of-type {
    margin: 0;
}

.msg-img {
    width: 45px;
    height: 30px;
    margin-right: 4px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.msg-bubble {
    width: 100%;
    margin-bottom: 6px;
    margin-bottom: 2px;
    border-radius: 15px;
    background: var(--left-msg-bg);
}

.participants-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.participants-info-name {
    margin-right: 10px;
    color: white;
}

.icon-background {
    cursor: pointer !important;
    transition: 1s;
    display: block;
    border-radius: 12px;
    line-height: 100px;
    text-align: center;
    padding: 4px;
    background-color: transparent;
}

.video-icon-background {
    transition: 1s;
    display: block;
    border-radius: 12px;
    line-height: 100px;
    text-align: center;
    padding: 4px;
    background-color: transparent;
}
.icon-background:hover {
    background-color: gray;
}

.icon-background:active {
    background-color: gainsboro;
}

.msg-info-time {
    float: right;
    font-size: 0.85em;
    color: gainsboro;
    opacity: 0.84;
}

.msg-text {
    margin-top: -6px;
    font-size: 0.85em;
    color: white;
    opacity: 0.94;
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
}

.right-msg {
    flex-direction: row-reverse;
}

.right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
}

.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.msger-form-div {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #292929;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.send-image {
    width: 35px;
    height: 35px;
    margin-left: 8px;
    opacity: 0.9;
    padding:3px;
    background-color: transparent;
    -webkit-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    transition: background-color 500ms;
}

.send-image:hover {
    background-color: gray;
}

.send-image:active {
    background-color: black;
}

.msger-form {
    width: 100%;
    display: inherit;
}

.msger-input {
    padding: 10px;
    width: 84%;
    border-radius: 3px;
    font-size: 1em;
    height: 35px;
    flex: 1;
    background: black;
    color: white;
    border: 1px solid black;
    -webkit-transition: border 500ms;
    -moz-transition: border 500ms;
    -o-transition: border 500ms;
    transition: border 500ms;
}

.msger-input:hover {
    border: 1px solid brown;
}

.msger-input:active {
    border: 1px solid red;
}

.msger-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
}

.msger-send-btn:hover {
    background: rgb(0, 180, 50);
}

.participant {
    background-color: black;
}