<div class="participant-parent">


    <div class="participant left-msg" *ngIf="participantsMap && participantsMap.size > 0">

        <!--  <div  style="color:red;"*ngFor="let item of participantsMap | keyvalue">
            Key: <b>{{item.key}}</b> and Value: <b>{{item.value._id}}</b>
        </div> -->
        <mat-list style="width: 100%;">
            <mat-list-item *ngFor="let participant of participantsMap | keyvalue" class="item-content">

                <div class="msg-bubble">
                    <div class="participants-info">
                        <div class="participants-info-name">{{ participant.value.name }}</div>
                        <img #ivMore
                            *ngIf='localUser && localUser.isCallAdmin && localUser.user._id !== participant.value._id'
                            [matMenuTriggerFor]="menu" class="icon-background" style="float: right"
                            src="../../assets/images/dots-vertical.svg" alt="more">

                    </div>
                    <div style="float: left; display:flex;">
                        <img *ngIf="participant.value.status !=='Viewer'" class="icon-background"
                            src='../../assets/images/{{participant.value.audioIconURL}}'
                            (click)="muteParticipant(participant.value)" alt="more">
                        <img *ngIf="participant.value.status !=='Viewer'" class="video-icon-background"
                            src='../../assets/images/{{participant.value.videoIconURL}}'
                            (click)="stopParticipantVideo(participant.value)" alt="more">


                        <img *ngIf="participant.value.status ==='Viewer'" class="video-icon-background"
                            src='../../assets/images/mic_off-white-18dp.svg' alt="more"
                            [ngStyle]="{'opacity': (participant.value.status ==='Viewer') ? '0.6' : '1'}">
                        <img *ngIf="participant.value.status ==='Viewer'" class="video-icon-background"
                            src='../../assets/images/videocam_off-white-18dp.svg' alt="more"
                            [ngStyle]="{'opacity': (participant.value.status ==='Viewer') ? '0.6' : '1'}">

                        <img *ngIf="participant.value.handRaise" class="icon-background"
                            src='../../assets/images/{{participant.value.handURL}}' alt="more">
                        <span
                            style="color:white; font-style: italic; font-size:14px; margin-left: 11px; margin-top: 3px;">{{participant.value.status}}</span>
                    </div>
                    <mat-menu #menu="matMenu">
                        <!-- <button mat-menu-item (click)="makeAdmin(participant.value)"
                            *ngIf="!participant.value.isCallAdmin">Make Admin</button> -->
                        <button mat-menu-item (click)="makePresenter(participant.value)"
                            *ngIf='participant.value.status !== "Presenter"'>Make
                            Presenter</button>
                        <button mat-menu-item (click)="makeSubPresenter(participant.value)"
                            *ngIf='participant.value.status !== "Sub-Presenter"'>Make Sub-Presenter</button>
                        <button mat-menu-item click *ngIf='participant.value.status !== "Viewer"'
                            (click)="makeViewer(participant.value)">Make Viewer</button>
                        <button mat-menu-item click (click)="removeParticipant(participant.value)">Remove</button>
                    </mat-menu>


                </div>


            </mat-list-item>
        </mat-list>

    </div>



</div>