<div style="width: 100%; overflow: auto; margin-bottom: 67px;">
    <div *ngIf="messageList && messageList.length > 0" #messageDiv>
        <div *ngFor="let message of messageList">
            <div class="bubbleParent"
                *ngIf="!(message.sender._id && localUser.user._id === message.sender._id) &&  !(message.sender.senderId && localUser.user._id=== message.sender.senderId)">
                <div class="leftBubble">
                    <div class="talk-bubble-left " style="border-radius: 10px;">
                        <div class="msg-bubble-mesage" id={{message.messageId}}>
                            <div class="msg-info">
                                <div class="msg-info-name">{{message.sender.name }}</div>
                            </div>
                            <div class="msg-text-message">
                                {{ message.message}}
                            </div>
                            <div *ngIf='message.messageType === "FILE"'
                                style="width: 100%;display:flex; justify-content: center; margin-top:10px">
                                <img width="100px" height="100px" style="background-color:rgb(204, 137, 137)" />
                                <img src="../../assets/images/download.svg" class="download"
                                    (click)="downloadFile(message.fileInfo.url)" />
                                <span class="msg-info-time file-name">{{message.fileInfo.fileName}}</span>
                            </div>
                            <div class="msg-info-time">{{getDateTime(message.dateOfCreation)}}</div>
                            <!-- <div
                                *ngIf="!isGroupMessage && (message.receiverInfo && message.receiverInfo[0]._id !== this.localUser.user._id || message.receivers && message.receivers[0]._id !== this.localUser.user._id)">
                                <img src='../../assets/images/{{getSrc(message)}}' class="tick">
                            </div> -->
                        </div>


                    </div>
                </div>
            </div>

            <div class="bubbleParent"
                *ngIf="(message && message.sender._id === localUser.user._id) || (message.sender.senderId && message.sender.senderId === localUser.user._id)">
                <div class="rightBubble">
                    <div class="talk-bubble-right" style="float:right; border-radius: 10px;">
                        <div class="msg-bubble-mesage" id={{message.messageId}}>
                            <div class="msg-info">
                                <div class="msg-info-name">{{ message.sender.name }}</div>
                                <img #ivMore [matMenuTriggerFor]="menu" class="menu-icon" style="float: right"
                                    src="../../assets/images/dots-vertical.svg" alt="more" />
                            </div>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="deleteForMe(message)">Delete for me</button>
                                <button mat-menu-item (click)="deleteForAll(message)">Delete for all</button>
                            </mat-menu>
                            <div class="msg-text-message">
                                {{ message.message}}
                            </div>
                            <div *ngIf='message.messageType === "FILE"'
                                style="width: 100%;display:flex; justify-content: center; margin-top:10px">
                                <img width="100px" height="100px" style="background-color:rgb(204, 137, 137)" />
                                <img src="../../assets/images/download.svg" class="download"
                                    (click)="downloadFile(message.fileInfo.url)" />
                                <span class="msg-info-time file-name">{{message.fileInfo.fileName}}</span>
                            </div>
                            <div class="msg-info-time">{{getDateTime(message.dateOfCreation)}}</div>
                            <div>
                                <img src='../../assets/images/{{getSrc(message)}}' class="tick">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div [ngClass]="[msger_form_div]" *ngIf="chatRoomId">
        <form class="msger-form" [formGroup]="chatForm">
            <textarea (focus)="onFocusEvent($event)" (blur)="onBlurEvent($event)" class="msger-input" required rows="4"
                formControlName="message" placeholder="Enter your message..."></textarea>
            <img src="../../assets/images/attach_file.svg" (click)="clickToUpload()" class="send-image" />
            <input id="fileInput" #uploadImageInput type="file" (change)="selectFile($event)" style="display: none" />
            <img src="../../assets/images/send-white.svg" (click)="submit()" class="send-image" />
        </form>
    </div>
    <div [ngClass]="[file_selected_div]" *ngIf="addFiles">
        <img src="../../assets/images/close.svg" (click)="closeFileUplaod()" class="send-image close-image" />
        <div
            style="margin-top: 20px; margin-left: 15px; text-overflow: ellipsis; overflow: hidden; box-sizing: inherit;word-break: break-all;">
            <span style="font-size: 12px;"><b>File: </b> {{fileName}}</span>
            <img src="../../assets/images/send-white.svg" (click)="upload()" class="send-image" style="float: right;" />
        </div>
    </div>
</div>