button {
    outline: none;
}

.flex-container {
    height: 100% !important;
    width: 100% !important;
    display: flex
}

.flex-container>div {
    color: white;
    font-size: 30px;
}
.icon-background {
    width: 25px;
    height: 25px;
    cursor: pointer !important;
    transition: 1s;
    display: block;
    border-radius: 12px;
    line-height: 100px;
    position: absolute;
    right: 0;
    background-color: transparent;
}

.icon-background:hover {
    background-color: gray;
}

.icon-background:active {
    background-color: gainsboro;
}

.item-content {
    width: 100%;
    height: unset !important;
    margin-right: 4px;
    border-bottom: 2px solid rgba(245, 222, 179, 0.52);
    background-color: transparent;
    -webkit-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    transition: background-color 500ms;
}
.item-content:hover {
    background-color: rgba(128, 128, 128, 0.4);
}

.item-content:active {
    background-color: rgba(128, 128, 128, 0.8);
}

.msger-form-div {
    height: 48px;
    display: flex;
    padding: 4px 4px 8px 5px;
    border-top: var(--border);
    background: #292929;
    position: absolute;
    bottom: 1%;
    left: 35%;
    width: 64%;
}

.send-image {
    width: 35px;
    height: 35px;
    margin-left: 8px;
    opacity: 0.9;
    padding: 3px;
    background-color: transparent;
    -webkit-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    transition: background-color 500ms;
}

.send-image:hover {
    background-color: gray;
}

.send-image:active {
    background-color: black;
}

.msger-form {
    width: 100%;
    display: inherit;
}

.msger-input {
    padding: 8px 10px 10px 10px;
    width: 84%;
    resize: none;
    border-radius: 3px;
    font-size: 14px;
    height: 40px;
    flex: 1;
    background: black;
    color: white;
    border: 1px solid black;
    -webkit-transition: border 500ms;
    -moz-transition: border 500ms;
    -o-transition: border 500ms;
    transition: border 500ms;
}

::-webkit-scrollbar {
    height: 5px;
    width: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    background: gray;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: wheat;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: gree;
}

.msger-input:hover {
    border: 1px solid wheat;
}

.msger-input:active {
    border: 1px solid wheat;
}

.msger-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
}

.msger-send-btn:hover {
    background: rgb(0, 180, 50);
}

.msger-chat {
    background-color: black;
}

.msg-bubble-mesage {
    width: 100%;
    height: auto;
    min-width: 70px;
    margin-bottom: 2px;
    padding: 8px;
    background: var(--left-msg-bg);
}

.msg-bubble {
    width: 100%;
    height: 70px;
    padding: 8px 0px 8px 0px;
    border-radius: 2px;
}

.msg-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.download {
    position: absolute;
    bottom: 26%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    transition: background-color 500ms;
}

.download:hover {
    background-color: gray;
}

.download:active {
    background-color: black;
}

.file-name {
    position: absolute;
    bottom: 12px;
    background-color: gray;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.msg-info-name {
    margin-right: 10px;
    color: white;
    font-size: 14px;
    width: 65%;
    float: left;
}

.msg-info-time {
    float: right;
    color: gainsboro;
    opacity: 0.84;
    font-size: 12px;
    margin-right: 14px;
}

.msg-text-message {
    margin-top: -6px;
    font-size: 0.85em;
    color: white;
    margin-top: 8px;
    overflow: hidden;
    font-size: 18px;
    opacity: 0.8;
}

.msg-text {
    margin-top: -6px;
    font-size: 0.85em;
    color: white;
    opacity: 0.94;
    margin-top: 8px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
    opacity: 0.8;
}

/* container */

.container {
    padding: 5% 5%;
}

/* CSS talk bubble */

.talk-bubble {
    display: inline-block;
    position: relative;
    width: 60%;
    height: auto;
    background-color: #353535;
}

.border {
    border: 8px solid #666;
}

.round {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

/* Right triangle placed top left flush. */

.tri-right.border.left-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #666 transparent transparent transparent;
}

.tri-right.left-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: #353535 transparent transparent transparent;
}

/* Right triangle, left side slightly down */

.tri-right.border.left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: 30px;
    bottom: auto;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}

.tri-right.left-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 38px;
    bottom: auto;
    border: 12px solid;
    border-color: #353535 #353535 transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/

.tri-right.border.btm-left:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -8px;
    right: auto;
    top: auto;
    bottom: -40px;
    border: 32px solid;
    border-color: transparent transparent transparent #666;
}

.tri-right.btm-left:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 22px solid;
    border-color: transparent transparent transparent #353535;
}

/*Right triangle, placed bottom left side slightly in*/

.tri-right.border.btm-left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    right: auto;
    top: auto;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 transparent transparent #666;
}

.tri-right.btm-left-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 12px solid;
    border-color: #353535 transparent transparent #353535;
}

/*Right triangle, placed bottom right side slightly in*/

.tri-right.border.btm-right-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 30px;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}

.tri-right.btm-right-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 38px;
    bottom: -20px;
    border: 12px solid;
    border-color: #353535 #353535 transparent transparent;
}

/*
      left: -8px;
    right: auto;
    top: auto;
      bottom: -40px;
      border: 32px solid;
      border-color: transparent transparent transparent #666;
      left: 0px;
    right: auto;
    top: auto;
      bottom: -20px;
      border: 22px solid;
      border-color: transparent transparent transparent #353535;
  
  /*Right triangle, placed bottom right side slightly in*/

.tri-right.border.btm-right:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -8px;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}

.tri-right.btm-right:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 0px;
    bottom: -20px;
    border: 12px solid;
    border-color: #353535 #353535 transparent transparent;
}

/* Right triangle, right side slightly down*/

.tri-right.border.right-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -40px;
    top: 30px;
    bottom: auto;
    border: 20px solid;
    border-color: #666 transparent transparent #666;
}

.tri-right.right-in:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 38px;
    bottom: auto;
    border: 12px solid;
    border-color: #353535 transparent transparent #353535;
}

/* Right triangle placed top right flush. */

.tri-right.border.right-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -40px;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #666 transparent transparent transparent;
}

.tri-right.right-top:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 0px;
    bottom: auto;
    border: 20px solid;
    border-color: #353535 transparent transparent transparent;
}

/* talk bubble contents */

.talktext {
    padding: 0.50em;
    text-align: left;
    line-height: 1.2em;
    color: white;
    font-size: 16px;
}

.talktext p {
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}