<div class="flex-container">
    <div style="width: 34%; overflow: auto; background-color:#1E1E1E">
        <div style="width: 100%; display: flex;">
            <div style="width: 90%;">
                <app-search [(searchModel)]="searchModel"></app-search>
            </div>
            <img class="icon-background"
                style="position: relative !important; width: 10% !important; margin: auto !important "
                src='../../assets/images/message-white-18dp.svg' alt="audio" (click)="openChatRoomDialog()">

        </div>

        <div *ngIf="conversationList && conversationList.length > 0">
            <mat-list>
                <mat-list-item *ngFor="let conversation of conversationList  | listFilter: searchModel"
                    class="item-content" (click)="getAllChats(conversation.roomId)">

                    <div class="msg-bubble">
                        <div class="msg-info">
                            <div class="msg-info-name">{{ getName(conversation) }}</div>
                            <div class="msg-info-time">
                                <span>{{getDateTime(conversation)}}</span>

                            </div>
                            <img #ivMore *ngIf='checkGroupAdmin(conversation)' (click)="onMenuOpen($event)"
                                [matMenuTriggerFor]="menu" class="icon-background" style="float: right"
                                src="../../assets/images/dots-vertical.svg" alt="more" />

                        </div>

                        <div class="msg-text" style='opacity: {{getOpacity(conversation)}};'>
                            {{ conversation.lastMessage}}
                        </div>
                    </div>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="removeGroup(conversation)">Remove Group</button>
                    </mat-menu>

                </mat-list-item>
            </mat-list>

        </div>


        <div *ngIf="isLoading">
            <app-sound-wave-loader></app-sound-wave-loader>
        </div>
    </div>
    <div style="width: 65%; overflow: auto; margin-bottom: 67px;">
        <app-chat></app-chat>
    </div>
</div>