button {
    outline: none;
}

.image-parent {
    margin: auto;
    width: 60%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-parent {
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
}

.header-image {
    height: auto;
    margin-top: 3%;
    vertical-align: middle;
    width: 32%;
}

.dashboard-button {
    width: auto;
    min-width: unset!important;
    height: 45px;
    margin: 5px;
    font-size: 18px;
    background-color: #2E2E2E;
    color: white;
}
.call-button {
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 120px;
    min-width: unset!important;
    height: 45px;
    font-size: 18px;
    background-color: #2E2E2E;
    color: white;
}

.logout-button {
    position: relative;
    width: 200px!important;
    min-width: unset!important;
    font-size: 18px;
    background-color: #2E2E2E;
    right: 0;
}

.new-meeting-button {
    justify-content: center;
    display: flex;
    margin-top: 8%;
    left: 35%;
}

.new-call {
    position: absolute;
    /* justify-content: center; */
    left: 35%;
    bottom: 0;
    right: 0;
}

.parent-div {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: black;
    justify-content: center;
    vertical-align: middle;
}

.dashboard-card {
    margin-top: 40px;
    max-width: 600px;
}

.message-span {
    font-size: 16px;
    font-weight: 500;
}

.div-url {
    width: 100%;
    white-space: pre-line;
    overflow-wrap: anywhere;
}

.form-container {
    height: 132px;
}

.form-field {
    font-size: 14px;
    display: block
}

::ng-deep .mat-menu-content {
    background-color: #2E2E2E;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.icon-background {
    width: 35px;
    height: 35px;
    margin: 0px 10px 0px 10px;
    cursor: pointer !important;
    position: fixed;
    bottom: 1;
    left: 48%;
    transition: 1s;
    display: block;
    border-radius: 12px;
    line-height: 100px;
    text-align: center;
    padding: 4px;
    background-color: transparent;
}

.icon-background:hover {
    background-color: gray;
}

.icon-background:active {
    background-color: gainsboro;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 51px;
    width: 100%;
    background-color: #292929;
    color: white;
    text-align: center;
}

.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .item-container>span {
    width: 35px;
    height: 35px;
    margin: 0px 10px 0px 10px;
} */

.login-button {
    width: 120px!important;
    min-width: unset!important;
    height: 45px;
    margin: 5px;
    font-size: 18px;
    background-color: #2E2E2E;
}

.button-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.form-container {
    margin-left: 10px;
    margin-right: 10px;
    width: 400 px;
    margin: 0 px auto;
    margin-top: 30px
}

.footer-container {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.footer-container>div {
    width: auto;
    height: 100%;
}

.my-custom-dialog-class .mat-dialog-container {
    overflow: hidden !important;
}

mat-grid-tile {
    border-radius: 20px;
    background-color: #f2f8fb;
    /* border-radius: 20px; */
    box-shadow: inset 6px 0 green;
    margin-top: 5px;
    font-size:20px;
    border-radius: 5px;
}

.grid-parent {
    width: 50%;
    height: 30%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer !important;
}

mat-grid-tile:hover {
    background-color: rgb(202, 200, 200);
}

mat-grid-tile:active {
    background-color: gainsboro;
}

.icon-background {
    width: 35px;
    height: 35px;
    margin: 0px 10px 0px 10px;
    cursor: pointer !important;
    transition: 1s;
    display: block;
    border-radius: 12px;
    line-height: 100px;
    text-align: center;
    padding: 4px;
    background-color: transparent;
}

.icon-background:hover {
    background-color: gray;
}

.icon-background:active {
    background-color: gainsboro;
}
