<div class="parent-div">

    <div style="width: 100%; height: 100%;">
        <div class="image-parent">
            <img class="header-image" src="../../assets/images/yuwee-logo.png" />
        </div>
        <div class="card-parent">
            <div *ngIf="!meetingDetails" style="background-color: black; width:200px; height:152px">

            </div>
            <mat-card class="dashboard-card mat-elevation-z4" *ngIf="meetingDetails && meetingDetails.meetingTokenId">
                <mat-card-content>
                    <div class="div-url">
                        <span class="message-span">Meeting URL: </span>
                        <span><a #linkAddresses href="{{meetingDetails.mainURL}}">{{meetingDetails.mainURL}}</a></span>
                    </div>
                    <div style="display:flex; justify-content: center;">
                        <button mat-button [cdkCopyToClipboard]="meetingDetails.mainURL"
                            (click)="onCopyToClipboard()">Copy Link</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="grid-parent">
            <mat-grid-list cols="2" rowHeight="100px">
                <mat-grid-tile [matMenuTriggerFor]="meetingMenu">
                    <span style="color: red;">New Meeting</span>
                </mat-grid-tile>
                <mat-grid-tile (click)="goToChatRoom()"><span style="color: darkcyan;">Chat</span></mat-grid-tile>
            </mat-grid-list>
        </div>


        <!--  <div class="new-meeting-button">
            <button mat-raised-button color="primary" class="dashboard-button" [matMenuTriggerFor]="meetingMenu">New
                Meeting</button>
            <button mat-raised-button color="primary" class="dashboard-button" style="margin-left:20px"
                (click)="joinMeetings()">Join Meeting</button>
        </div> -->
        <div class="new-call" *ngIf="isCalling">
            <button mat-raised-button color="primary" class="call-button" (click)="acceptCall()">Accept Call
            </button>
            <button mat-raised-button color="primary" class="call-button" style="margin-left:20px"
                (click)="rejectCall()">Reject Call</button>

        </div>

        <img class="icon-background" style="position: absolute;
    top: 10px;
    left: 95%;
    right: 0;" src='../../assets/images/logout.svg' alt="audio" (click)="logout()">

        <mat-menu #meetingMenu="matMenu" yPosition="above" style="background-color:red">
            <button mat-menu-item class="dashboard-button" (click)='openDialog("traning")'>Training</button>
            <button mat-menu-item class="dashboard-button" (click)='p2pCall("one-to-one")'>One to One</button>
        </mat-menu>
        <!--  <div class="footer">
            <div class="footer-container">

                <button mat-raised-button color="primary" class="logout-button" style="margin-left:20px"
                    (click)="logout()">Log
                    Out</button>

                <button mat-raised-button color="primary" class="logout-button" style="margin-left:20px"
                    (click)="goToChatRoom()">Open Chat</button>


                <button mat-raised-button color="primary" class="logout-button" style="margin-left:20px"
                    (click)="openChatRoomDialog()">Create Room</button>
                <button mat-raised-button color="primary" class="logout-button" style="margin-left:20px"
                    (click)="openDocumentation()">Documentation</button>


            </div>
        </div> -->


    </div>

</div>