<h1 mat-dialog-title>New Room</h1>
<div mat-dialog-content style="overflow: hidden;">
    <div>
        <div class="form-container">
            <form [formGroup]="chatForm" (submit)="submit()">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label> E-mail
                    </mat-label>
                    <input matInput formControlName="email" required type="email">
                    <mat-error *ngIf="chatForm.controls.email.touched && chatForm.controls.email.invalid">
                        <span *ngIf="chatForm.controls.email.errors.required">This field is mandatory.</span>
                        <span *ngIf="chatForm.controls.email.errors.pattern">This field is invalid.</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="outline">
                    <mat-label> Group Name
                    </mat-label>
                    <input matInput formControlName="groupName" required >
                    <mat-error *ngIf="chatForm.controls.groupName.touched && chatForm.controls.groupName.invalid">
                        <span *ngIf="chatForm.controls.groupName.errors.required">This field is mandatory.</span>
                        <span *ngIf="chatForm.controls.groupName.errors.minlength">Minimum lenght should be 3.</span>
                    </mat-error>
                </mat-form-field>

                <!-- <mat-form-field class="form-field" appearance="outline">
                    <mat-label> Group Name
                    </mat-label>
                    <input matInput formControlName="groupName" type="text">
                    <mat-error *ngIf="chatForm.controls.groupName.touched && chatForm.controls.groupName.invalid">
                        <span *ngIf="chatForm.controls.groupName.errors.required">This field is mandatory.</span>
                        <span *ngIf="chatForm.controls.groupName.errors.minlength">Minimum lenght should be 3.</span>
                    </mat-error>
                </mat-form-field>
 -->
                <div class="button-div" mat-dialog-actions>
                    <button mat-raised-button class="mat-raised-button" (click)="onNoClick()">Cancel</button>
                    <button mat-raised-button class="mat-raised-button" type="submit">Create</button>
                </div>

                <!--  <input type="text" #emailInput groupName="emailInput" placeholder="Email Id..."> -->
                <!-- <div mat-dialog-actions style="margin-top: 28px;">
                    <button mat-button class="mat-raised-button" (click)="onNoClick()"
                        style="margin-left: 195px;">Cancel</button>
                    <button mat-button class="mat-raised-button" cdkFocusInitial style="margin-left: 5px;"
                        (click)="submit()">Create</button>
                </div> -->
            </form>
        </div>






    </div>
</div>