<!-- <h1 mat-dialog-title>New Meeting</h1>
<div mat-dialog-content>
        <div>
        <input type="text" #meeginName name="meeginName" placeholder="Meeting name...">
        <div mat-dialog-actions style="margin-top: 28px;">
            <button mat-button  class="mat-raised-button" (click)="onNoClick()" style="margin-left: 195px;">Cancel</button>
            <button mat-button  class="mat-raised-button" cdkFocusInitial style="margin-left: 5px;" (click)="submit()">Create</button>
        </div>

    </div>
</div> -->

<h1 mat-dialog-title>New Meeting</h1>
<div mat-dialog-content style="overflow: hidden;">
    <div>
        <div class="form-container">
            <form [formGroup]="meetingForm" (submit)="submit()">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label> Meeting name...
                    </mat-label>
                    <input matInput formControlName="name" required >
                    <mat-error *ngIf="meetingForm.controls.name.touched && meetingForm.controls.name.invalid">
                        <span *ngIf="meetingForm.controls.name.errors.required">This field is mandatory.</span>
                        <span *ngIf="meetingForm.controls.name.errors.minlength">Minimum lenght should be 3.</span>
                    </mat-error>
                </mat-form-field>

               
                <div class="button-div" mat-dialog-actions>
                    <button mat-raised-button class="mat-raised-button" (click)="onNoClick()">Cancel</button>
                    <button mat-raised-button class="mat-raised-button" type="submit">Create</button>
                </div>

                
            </form>
        </div>






    </div>
</div>