<div class="login-div">

  <div class="button-div">
    <img class="header-image" src="../../assets/images/yuwee-logo.png" />
  </div>
  <div class="login-parent">

    <mat-card class="login-card mat-elevation-z4">

      <mat-card-content>
       <!--  <span class="login-title">Sign In</span> -->
        <div class="form-container">
          <form [formGroup]="loginForm" (submit)="submit()">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label> E-mail
              </mat-label>
              <input matInput formControlName="email" required type="email">
              <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
                <span *ngIf="loginForm.controls.email.errors.required">This field is mandatory.</span>
                <span *ngIf="loginForm.controls.email.errors.pattern">This field is invalid.</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label> Password
              </mat-label>
              <input matInput formControlName="password" type="password">
              <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                <span *ngIf="loginForm.controls.password.errors.required">This field is mandatory.</span>
                <span *ngIf="loginForm.controls.password.errors.minlength">Minimum lenght
                  should be
                  6.</span>
              </mat-error>
            </mat-form-field>
            <div class="button-div">
              <button mat-raised-button color="primary" type="submit" class="login-button">Sign In</button>
              <button mat-raised-button color="primary" (click)="gotoSignup()" class="login-button">Sign Up</button>
            </div>
          </form>
        </div>
      </mat-card-content>

    </mat-card>
  </div>
</div>