<!-- <mat-form-field class="form-field" floatLabel=never appearance="outline">
    <input matInput  type="text"  placeholder="Search" [ngModel]="searchModel" (ngModelChange)="updateSearchModel($event)">
  </mat-form-field> -->
  
  <input type="text"  class="input-style" placeholder="Search" [ngModel]="searchModel" (ngModelChange)="updateSearchModel($event)">