mat-form-field {
  width: 100%;
  color: white;
  border: 1px solid #ccc;
}
input {
  outline: none;
}

.input-style{
  width: 100%;
  height: 39px;
  color: white;
  font-size: 14px;
  padding-left: 6px;
  padding-right: 6px;
  display: block;
  background-color:transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-field {
  width: 100%;
  height: 58px;
  color: white;
  font-size: 14px;
  display: block;
}

