<h1 mat-dialog-title>Join Meeting</h1>
<div mat-dialog-content>

    <form [formGroup]="joiningForm" class="form-container"    [ngClass]="{'form-container-large': isLogin === true,
    'form-container-small': isLogin === false}"(submit)="submit()">
        <mat-form-field class="form-field" appearance="outline">
            <mat-label> Meeting Id
            </mat-label>
            <input matInput formControlName="meetingId" required >
            <mat-error *ngIf="joiningForm.controls.meetingId.touched && joiningForm.controls.meetingId.invalid">
                <span *ngIf="joiningForm.controls.meetingId.errors.required">This field is mandatory.</span>
            </mat-error>
        </mat-form-field>
        <!-- <mat-form-field class="form-field" appearance="outline">
            <mat-label> Passcode
            </mat-label>
            <input matInput formControlName="passcode" >
            <mat-error *ngIf="joiningForm.controls.passcode.touched && joiningForm.controls.passcode.invalid">
                <span *ngIf="joiningForm.controls.passcode.errors.required">This field is mandatory.</span>

            </mat-error>
        </mat-form-field> -->
        <mat-form-field class="form-field" appearance="outline"  *ngIf="isLogin">
            <mat-label> Email Id
            </mat-label>
            <input matInput formControlName="email" type="email">
            <mat-error *ngIf="joiningForm.controls.email.touched && joiningForm.controls.email.invalid">
                <span *ngIf="joiningForm.controls.email.errors.required">This field is mandatory.</span>

            </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label> Name
            </mat-label>
            <input matInput formControlName="name" type="text">
            <mat-error *ngIf="joiningForm.controls.name.touched && joiningForm.controls.name.invalid">
                <span *ngIf="joiningForm.controls.name.errors.required">This field is mandatory.</span>

            </mat-error>
        </mat-form-field>

        <div><span class="join-span" *ngIf="isLogin">Join As</span></div>
        <mat-radio-group aria-label="Select an option" formControlName="role" *ngIf="isLogin">
            <mat-radio-button class="radio-style" value="presenter">Presenter</mat-radio-button>
            <mat-radio-button class="radio-style" value="subPresenter">Sub Presenter</mat-radio-button>
            <mat-radio-button class="radio-style" value="viewer">Viewer</mat-radio-button>
        </mat-radio-group>
        <div mat-dialog-actions style="margin-top: 28px;">
            <button mat-button (click)="onNoClick()" style="margin-left: 195px;">Cancel</button>
            <button mat-button cdkFocusInitial type="submit">Join</button>
        </div>
        <!--  <div class="button-div">
            <button mat-raised-button color="primary" type="submit" class="login-button">Log In</button>
            <button mat-raised-button color="accent" class="login-button" (click)="gotoSignup()">Sign Up</button>
        </div> -->
    </form>
</div>

<!-- [(ngModel)]="data.animal" -->


<!-- [mat-dialog-close]="data.animal" -->