<mat-drawer-container class="drawer-container">
  <mat-drawer #drawerChat mode="side" position="end" style="width:25%; background: black;">

    <app-chat></app-chat>
  </mat-drawer>
  <mat-drawer #drawerParticipants mode="side" position="start" style="width:25%; background: black;">
    <app-participants></app-participants>
  </mat-drawer>
  <mat-drawer-content>
    <div class="parent">
      <div class="parent-div">
        <div class="list-div">
          <div class="meeting-list-box sub-presenter-parent" cdkDrag>
            <div class="scrollmenu" *ngIf="subPresenterList && subPresenterList.length > 0">
              <div *ngFor="let sub of subPresenterList" style="width:154px">
                <video class="sub-presenter-video-style" id={{sub.id}} autoplay muted playsinline
                  poster="../../assets/images/person-white.svg"></video>
                <div class="mic-vieo-status-div" style="width:124px">
                  <div class="staus-div">
                    <span *ngIf="sub.videoByte">V: {{sub.videoByte}}Mbps</span>
                  </div>
                  <div class="staus-div">
                    <span *ngIf="sub.audioByte">A: {{sub.audioByte}}KBps</span>
                  </div>
                </div>
              </div>
              <!-- <div class="mic-vieo-status-div">
                <img class="icon-background" src='../../assets/images/mic_off-white-18dp.svg' alt="more">
                <img class="icon-background" src='../../assets/images/videocam_off-white-18dp.svg' alt="more">
              </div> -->
            </div>

          </div>
        </div>
        <div class="local-stream-parent">
          
          <div class="meeting-list-box local-stream" cdkDragBoundary=".meeting-list-boundary" cdkDrag>
            <video autoplay #localvideo class="small-video-style" id="localvideo" playsinline
              poster="../../assets/images/person-white.svg"></video>
            <div class="mic-vieo-status-div">
              <div class="staus-div">
                <span *ngIf="byteSent && byteSent.videoByte">V: {{byteSent.videoByte}}Mbps</span>
              </div>
              <div class="staus-div">
                <span *ngIf="byteSent && byteSent.audioByte">A: {{byteSent.audioByte}}KBps</span>
              </div>

              <!--  <img class="icon-background" src='../../assets/images/mic_off-white-18dp.svg' alt="more">
              <img class="icon-background" src='../../assets/images/videocam_off-white-18dp.svg' alt="more"> -->
            </div>
          </div>
          <div class="meeting-list-box local-stream" cdkDragBoundary=".meeting-list-boundary" cdkDrag>
            <video autoplay muted #sharedUservideo class="small-video-style" id="sharedUservideo" playsinline
              poster="../../assets/images/person-white.svg"></video>
            <div class="mic-vieo-status-div">
              <div class="staus-div">
                <span *ngIf="sharingUserByte && sharingUserByte.videoByte">V: {{sharingUserByte.videoByte}}Mbps</span>
              </div>
              <div class="staus-div">
                <span *ngIf="sharingUserByte && sharingUserByte.audioByte">A: {{sharingUserByte.audioByte}}KBps</span>
              </div>
            </div>
          </div>
        </div>



        <div class="gridVideo-parent" (window:resize)="onResize($event)">

          <div #gridVideo id="gridVideo" class="gridVideo">
            <div *ngIf="presenterList && presenterList.length > 0">
              <mat-grid-list cols="{{columns}}" rowHeight="{{rowHeight}}">
                <mat-grid-tile *ngFor="let tile of presenterList" [colspan]="tile.cols"
                  [rowspan]="tile.rows">
                  <div class="gridVideo-div">
                    <div class="large-video-poster">
                      <img style="width:150px" src="../../assets/images/person-white.svg" />
                    </div>
                    <video class="large-video-style" autoplay muted id={{tile.id}} playsinline></video>
                    <div class="audio-video-status-presenter" style="bottom:2px; right:3px;">
                      <div class="staus-div">
                        <span *ngIf="tile.videoByte">V: {{tile.videoByte}}Mbps</span>
                      </div>
                      <div class="staus-div">
                        <span *ngIf="tile.audioByte">A: {{tile.audioByte}}KBps</span>
                      </div>
                    </div>

                  </div>
                </mat-grid-tile>
              </mat-grid-list>
            </div>

          </div>
          <div #spotlight id="spotlight" class="gridVideo" style="display:none">
            <div class="gridVideo-div">

              <video class="large-video-style" autoplay muted id="spotlightVideo" playsinline></video>
              <div class="large-video-poster">
                <!-- <span style="color:red; font-size: 20px;">{{speakerName}}</span> -->
                <!-- <img  style="width:150px" src="../../assets/images/person-white.svg"/> -->
              </div>
            </div>

          </div>

        </div>

        <div class="share-div" #shareVideoDiv id="shareVideoDiv" style="display: none">

          <video width="100%" height="100%" autoplay muted id="shareVideo" playsinline></video>
          <div class="mic-vieo-status-div">
            <div class="staus-div">
              <span *ngIf="sharingVideoByte && sharingVideoByte.videoByte">V: {{sharingVideoByte.videoByte}}Mbps</span>
            </div>
            <div class="staus-div">
              <span *ngIf="sharingVideoByte && sharingVideoByte.audioByte">A: {{sharingVideoByte.audioByte}}KBps</span>
            </div>
          </div>
        </div>
        <div #shareSelfView id="shareSelfView" class="share-div" style="display: none">
          <div class="share-div-child">
            <h1>You are sharing the screen</h1>
          </div>
        </div>


      </div>

      <div style="position: absolute; color: white"> <span><b>Version:</b> {{yuweeVersion}}</span></div>
      <!-- <div #popup class="popup">
        <mat-card class="popup-card mat-elevation-z4">

          <mat-card-content>
            <div class="popup-item" (click)="makeTile()">Tile</div>
            <div class="popup-item" (click)="makeSpotlight()">Spotlight</div>

          </mat-card-content>
        </mat-card>
      </div> -->
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="makeTile()">Tile</button>
        <button mat-menu-item (click)="makeSpotlight()">Spotlight</button>
        <button mat-menu-item  *ngIf='meetingJoinModel &&  meetingJoinModel.role === "presenter"' [matMenuTriggerFor]="resulationMenu">Change Resolution</button>
      </mat-menu>
      <mat-menu #resulationMenu="matMenu">
        <div *ngFor="let resolution  of resolutionArray"> 
          <button *ngIf="resolution !== currentResolution" mat-menu-item (click)='changeResolution(resolution)'>{{resolution}}</button>
        </div>
       
      <!--   <button mat-menu-item (click)='changeResolution("qcif")'>qcif</button>
        <button mat-menu-item (click)='changeResolution("sif")'>sif</button>
        <button mat-menu-item (click)='changeResolution("svga")'>svga</button>
        <button mat-menu-item (click)='changeResolution("xga")'>xga</button>
        <button mat-menu-item (click)='changeResolution("hvga")'>hvga</button>
        <button mat-menu-item (click)='changeResolution("hd720p")'>hd720p</button> -->
      </mat-menu>

    </div>
    <div class="new-message" *ngIf="newMessageData">
      <div class="new-message-child">
        <span><b>{{newMessageData.name}}</b>: {{newMessageData.message}}</span>
      </div>

    </div>

    <div class="join" *ngIf="joinName">
      <div class="connecting-div join-left-child">
        <span>{{joinName}} has joined</span>
      </div>

    </div>
    <div class="left" *ngIf="leftName">
      <div class="connecting-div join-left-child">
        <span>{{leftName}} has left</span>
      </div>

    </div>


    <div class="footer">
      <div class="footer-container">
        <div class="item-container" >
          <img class="icon-background" src='../../assets/images/{{localAudioVideoIconSelection.audio}}' alt="audio"
            (click)="toggleAudio()" [ngStyle]="{'opacity': (meetingJoinModel.role ==='viewer') ? '0.6' : '1'}">
          <img class="icon-background" src='../../assets/images/{{localAudioVideoIconSelection.video}}' alt="video"
            (click)="toggleVideo()" [ngStyle]="{'opacity': (meetingJoinModel.role ==='viewer') ? '0.6' : '1'}">
        </div>
        <div class="item-container">
          <img class="icon-background" src="../../assets/images/account-group.svg" alt="participaints"
            (click)="drawerParticipants.toggle()">
          <img class="icon-background" src='../../assets/images/{{toggleShareImage}}' alt="sharedscreen share"
            (click)="togleScreenShare()">
          <div>
            <span class="dot" *ngIf="newMessage"></span>
            <img class="icon-background" src="../../assets/images/message-white-18dp.svg" alt="chat"
              (click)="drawerChat.toggle(); onChatOpen()">

          </div>
          <img class="icon-background" src='../../assets/images/{{localAudioVideoIconSelection.hand}}' alt="hand raised"
            (click)="toggleHandRaise()">
          <img #whiteboard class="icon-background" src="../../assets/images/whiteboard.svg" (click)="openWhiteboard()" alt="White board">
          <img #ivMore [matMenuTriggerFor]="menu" class="icon-background" src="../../assets/images/dots-vertical.svg"
            alt="more">

        </div>
        <div class="item-container">
          <span></span>
          <button mat-flat-button color="warn" class="button-style" (click)="leaveMeeting()">Leave</button>
        </div>
      </div>
    </div>
    <!-- *ngIf="connecting" -->
    <!-- *ngIf="askJoin" -->
    
    
    <div class="connecting-parent" *ngIf="connecting">

      <div class="connecting-div">
        <span class="connecting">Connecting</span>
        <app-sound-wave-loader></app-sound-wave-loader>
      </div>
      <div class="connecting-div" *ngIf="askJoin">
        <mat-card class="media-card mat-elevation-z4">

          <mat-card-content>
            <div>
              <div style="color:white; font-size:18px">
                Join with
              </div>
              <div class="mic-vieo-connect-div">
                <div>
                  <img class="icon-background join-icon"
                    src='../../assets/images/{{localAudioVideoIconSelection.audio}}' alt="more"
                    (click)="onAudioSelect()">
                  <span>Audio</span>
                </div>
                <div>
                  <img class="icon-background join-icon"
                    src='../../assets/images/{{localAudioVideoIconSelection.video}}' alt="more"
                    (click)="onVideoSelect()">
                  <span>Video</span>
                </div>
              </div>
              <div class="mic-vieo-connect-div" style="margin-top: 26px;">
                <button mat-raised-button color="primary" class="join-button"
                  (click)="joinAfterSelections()">Join</button>
              </div>
            </div>
          </mat-card-content>

        </mat-card>
      </div>
    </div>
    <div class="connecting-parent" *ngIf="reconnecting">

      <div class="connecting-div">
        <span class="reconnecting">{{reconnecting_text}}</span>
        <app-sound-wave-loader></app-sound-wave-loader>
      </div>
      
    </div>
  </mat-drawer-content>
</mat-drawer-container>