.drawer-container {
    width: 100%;
    height: 100%;
}

mat-drawer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button {
    outline: none;
}

.parent {
    width: 100%;
    height: 100%;
    background-color: black;
}

.staus-div {
    width: 100%;
    float: right;
}

.staus-div span {
    float: right;
}

.audio-video-status-presenter {
    width: 100%;
    float: right;
    position: absolute;
    font-size: 12px;
    color: white;
    margin-top: -46px;
}

.mic-vieo-status-div {
    width: 100%;
    float: right;
    position: relative;
    font-size: 12px;
    color: white;
    margin-top: -46px;
}

.mic-vieo-connect-div {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    color: white;
    align-items: center;
    text-align: center;
}

.parent-div {
    width: 100%;
    height: 100%;
    background-color: black;
}

.list-div {
    display: flex;
    justify-content: center;
}

.local-stream-parent {
    width: 100%;
    height: 100%;
}

.local-stream {
    width: 177px !important;
    position: relative !important;
    float: right;
    margin-right: 10px;
    display: none !important;
}

.meeting-list-boundary {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 2;
    width: 99vw;
    height: 90vh;
}

 .sub-presenter-parent{
     height: 140px !important;
 }
.meeting-list-box {
    max-width: 50%;
    height: 95px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    z-index: 2;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.meeting-list-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.small-video-style {
    width: 177px;
    height: 100px;
    background: black;
    border: 1px solid white;
}

.sub-presenter-video-style {
    width: 154px;
    height: 126px;
    background: black;
    border: 1px solid white;
}

.large-video-style {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
}

.large-video-poster {
    background: transparent;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    display: flex;
    height: 128px;
}

div.scrollmenu span {
    color: white;
    text-align: center;
    text-decoration: none;
}

div.scrollmenu span:hover {
    background-color: #777;
}

::-webkit-scrollbar {
    height: 5px;
    width: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    background: #f1f1f1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.form-container-large {
    height: 363px;
}
.form-container-small {
    height: 230px;
}
.form-field {
    font-size: 14px;
    display: block
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 8%;
    min-height: 51px;
    width: 100%;
    background-color: #292929;
    color: white;
    text-align: center;
}

.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .item-container>span {
    width: 35px;
    height: 35px;
    margin: 0px 10px 0px 10px;
} */

.footer-container {
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}

.footer-container>div {
    width: auto;
    height: 100%;
}

.button-style {
    height: 35px;
    margin-right: 10px;
}

.dot {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 100%;
    display: inline-block;
}

.icon-background {
    width: 35px;
    height: 35px;
    margin: 0px 10px 0px 10px;
    cursor: pointer !important;
    transition: 1s;
    display: block;
    border-radius: 12px;
    line-height: 100px;
    text-align: center;
    padding: 4px;
    background-color: transparent;
}

.icon-background:hover {
    background-color: gray;
}

.icon-background:active {
    background-color: gainsboro;
}

.join-icon {
    width: 50px;
    height: 50px;
    margin: 10px 10px 0px 10px;
}

.join-button {
    width: 90px!important;
    min-width: unset!important;
    height: 35px;
    margin: 5px;
    font-size: 18px;
    background-color: #2E2E2E;
}

.gridVideo-parent {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 92%;
    top: 0;
    left: 0;
}

.share-div {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 94%;
    top: 0;
    left: 0;
}

.share-div-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
}

.gridVideo {
    width: 100%;
    height: 100%;
}

.gridVideo-div {
    width: 100%;
    height: 100%;
}

mat-grid-list {
    display: flex !important;
    flex-wrap: wrap;
}

.popup {
    position: fixed;
    bottom: 55px;
    display: none;
}

.popup-card {
    width: 150px;
    align-items: center;
    border: 55px !important;
}

.popup-item {
    cursor: pointer;
    margin: 8px;
    font-size: 14px;
}

.connecting {
    font-size: 24px;
    margin-top: -17px;
    margin-right: 176px;
    color: white;
}

.reconnecting {
    font-size: 24px;
    margin-top: 35px;
    color: white;
}
.connecting-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.connecting-parent {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.new-message-child {
    max-height: 100%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 4px 0px 7px;
    display: flex;
    text-shadow: 1px 1px 2px #000000, 0 0 1em #0000003d, 0 0 0.2em #1d1919d4;
}
.new-message {
    border-radius: 4px;
    background: #2660bc;
    color: white;
    padding: 6px;
    height: 50px;
    width: auto;
    padding-left: 4px;
    padding-right: 4px;
    max-width: 350px;
    left: 4px;
    bottom: 65px;
    position: fixed;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    display: flex;
}

.join-left-child{
    margin-top: -5px;
}
.join {
    border-radius: 43px 15px;
    background: #73AD21;
    color: white;
    padding: 6px;
    width: 200px;
    height: 40px;
    left: 4px;
    bottom: 65px;
    position: fixed;
}

.left {
    border-radius: 43px 15px;
    background: #e70909;
    color: white;
    padding: 6px;
    width: 200px;
    height: 40px;
    left: 4px;
    bottom: 65px;
    position: fixed;
}

.media-card {
    width: 300px;
    height: 200px;
    background-color: #3C3C3C;
    align-items: center;
    border: 55px !important;
}

.radio-style {
    margin-right: 10px;
    margin-top: 10px;
}

.join-span {
    height: 50px;
}

::ng-deep .mat-menu-content{
    background-color:#FFFFFF;
  }
/* .left{
    background:green;
    width:100px;
    float:left;
  }
  
  .center{
     background:gold;
     width:100px;
     float:left;
  }
  
  .right{
     background:gray;
     width:100px;
     float:left;
  }
  .container {
    width:100%;
    text-align:center;
    background-color:white;
    height: 100%;
} */