button{
    outline: none;
  }
  .header-image {
    height: 7%;
    margin-top: 3%;
    vertical-align: middle;
    width: auto;
  }
  .signup-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
  }
  .captcha-style{
    display: flex;
    justify-content: center;
    margin: 10px;
  
  }
  .signup-div {
    height: 100%;
    width: 100%;
    margin-top: -12px;
    background-color: black;
  }
  
  .signup-title {
    font-size: 25px;
    align-items: center;
    margin-top:10px
  }
  
  .signup-card {
    width: 500px;
    align-items: center;
    border: 55px !important;
  }
  
  .signup-header-image {
    height: 7%;
    margin-top: 7%;
    vertical-align: middle;
    width: auto;
  }
  
  .form-container {
    padding-top: 5px;
    width: 400 px;
    margin: 0 px auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .form-field {
    font-size: 16px;
    display: block
  }
  
  .signup-button {
    width: 120px!important;
    min-width: unset!important;
    height: 45px;
    margin: 5px;
    font-size: 18px;
    background-color: #2E2E2E;
  }
  
  .flex-container {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .flex-container>img {
    margin: 10px;
    padding: 5px;
    font-size: 30px;
  }
  
  .line-through {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #59595b;
    top: calc(50% - 1px);
    left: 0;
    z-index: 1;
  }
  
  .content-heading {
    width: 35%;
    position: relative;
    margin: 0 auto;
  }
  
  .content-heading .heading-text {
    display: inline-block;
    background: #fff;
    position: relative;
    z-index: 3;
    height: 35px;
    font-size: 26px;
    line-height: 35px;
    vertical-align: middle;
    padding: 0 5px;
  }
  
  /* .signup-icon {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
  }
   */
  
  .signup-icon {
    width: 40px;
    height: 40px;
    opacity: 1;
    transition: 0.3s;
  }
  
  .signup-icon:hover {
    opacity:0.7
  }
  .signup-icon:active {
    opacity:1
  }
  .check-button{
    width: 200px!important;
    min-width: unset!important;
    height: 45px;
    margin: 5px;
    font-size: 18px;
  }
  .check-span{
    color:green;
    margin-left: 20px;
    font-size: 30px;
  }
  .checking-span{
    color:red;
    margin-left: 20px;
    font-size: 20px;
  }
  .check-div{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 30px;
  }
  
  .button-div{
    display: flex;
    justify-content: center;
    margin-top:  10px;
  
  }
  @media only screen and (max-width: 600px) {
    .signup-parent {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 18%;
    }
    .form-container {
      width: 250px;
      margin: 0 px auto;
      margin-top: 20px
    }
    .signup-card {
      width: 300px;
      align-items: center;
      border: 55px !important;
    }
    .form-field {
      font-size: 14px;
      display: block
    }
  }
  @media (min-width: 768px) and (max-width: 1024px)  {
    .signup-parent {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 25%;
    }
   
    .form-field {
      font-size: 18px;
      display: block
    }
  }