<div class="signup-div">
    <div class="button-div">
        <img class="header-image" src="../../assets/images/yuwee-logo.png" />
      </div>

    <div class="signup-parent">
        <mat-card class="signup-card mat-elevation-z4">

            <mat-card-content>
                <div class="form-container">
                    <form [formGroup]="signupForm" (submit)="submit()">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label> Name
                            </mat-label>
                            <input matInput formControlName="name" type="text">
                            <mat-error *ngIf="signupForm.controls.name.touched && signupForm.controls.name.invalid">
                                <span *ngIf="signupForm.controls.name.errors.required">This field is
                                    mandatory.</span>
                                <span *ngIf="signupForm.controls.name.errors.minlength">Minimum lenght
                                    should be
                                    3.</span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label> E-mail
                            </mat-label>
                            <input matInput formControlName="email" required type="email">
                            <mat-error *ngIf="signupForm.controls.email.touched && signupForm.controls.email.invalid">
                                <span *ngIf="signupForm.controls.email.errors.required">This field is mandatory.</span>
                                <span *ngIf="signupForm.controls.email.errors.pattern">This field is invalid.</span>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label> Password
                            </mat-label>
                            <input matInput formControlName="password" required type="password">
                            <mat-error
                                *ngIf="signupForm.controls.password.touched && signupForm.controls.password.invalid">
                                <span *ngIf="signupForm.controls.password.errors.required">This field is
                                    mandatory.</span>
                                <span *ngIf="signupForm.controls.password.errors.minlength">Minimum lenght
                                    should be
                                    6.</span>
                                <span *ngIf="signupForm.controls.password.errors.maxLength">Maximum lenght
                                    should be
                                    20.</span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label> Confirm Password
                            </mat-label>
                            <input matInput formControlName="confirmPassword" required type="password">
                            <mat-error
                                *ngIf="signupForm.controls.confirmPassword.touched && signupForm.controls.confirmPassword.invalid">
                                <span *ngIf="signupForm.controls.confirmPassword.errors.required">This
                                    field is
                                    mandatory.</span>
                                <span *ngIf="signupForm.controls.confirmPassword.errors.minlength">Minimum
                                    lenght should
                                    be
                                    6.</span>
                                <span *ngIf="signupForm.controls.confirmPassword.errors.maxLength">Maximum
                                    lenght should
                                    be
                                    20.</span>
                                <span *ngIf="signupForm.controls.confirmPassword.errors.mustMatch">Passwords
                                    must
                                    match.</span>

                            </mat-error>
                        </mat-form-field>

                        <!-- <div class="captcha-style">
                            <re-captcha name="captcha" formControlName="captcha" (resolved)="resolved($event)"
                                siteKey="{{siteKey}}">

                            </re-captcha>
                           
                        </div> -->

                        <div class="button-div">
                            <button mat-raised-button color="primary" type="submit"
                                class="signup-button">Sign Up</button>
                            <button mat-raised-button color="primary" (click)="gotoSignIn()"  class="signup-button">Sign In</button>
                        </div>
                    </form>
                </div>
            </mat-card-content>

        </mat-card>
    </div>
</div>