button {
    outline: none;
}
.form-container {
    height: 200px;
}

.form-field {
    font-size: 14px;
    display: block
}
.button-div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.form-container {
    margin-left: 10px;
    margin-right: 10px;
    width: 400 px;
    margin: 0 px auto;
    margin-top: 30px
}
mat-for-field{
    width: 100%;
}
